---
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  quality-checks:
    name: Quality Checks
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run markdown linter
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: '**/*.md'

      - name: Run spell checker
        uses: streetsidesoftware/cspell-action@v8
        with:
          files: '**/*.{md,cs}'

      - name: Run YAML linter
        uses: ibiqlik/action-yamllint@v3
        with:
          config_file: .yamllint.yaml

  build:
    name: Build ${{ matrix.os }}
    needs: quality-checks
    permissions:
      contents: read

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.x
            9.x
            10.x

      - name: Restore Dependencies
        run: >
          dotnet restore

      - name: Build
        run: >
          dotnet build
          --no-restore
          --configuration Release
          --property:Version=${{ inputs.version }}

      - name: Test
        run: >
          dotnet test
          --no-build
          --configuration Release
          --property:Version=${{ inputs.version }}
          --collect "XPlat Code Coverage;Format=opencover"
          --logger "trx;LogFilePrefix=${{ matrix.os }}"
          --results-directory test-results

      - name: Generate SBOM
        run: >
          dotnet sbom-tool generate
          -b src/DemaConsulting.SarifMark/bin/Release
          -bc src/DemaConsulting.SarifMark
          -pn DemaConsulting.SarifMark
          -pv ${{ inputs.version }}
          -ps DemaConsulting
          -nsb https://DemaConsulting.com/SarifMark
          -pm true
          -li true

      - name: Generate Tests SBOM
        run: >
          dotnet sbom-tool generate
          -b test/DemaConsulting.SarifMark.Tests/bin/Release
          -bc test/DemaConsulting.SarifMark.Tests
          -pn DemaConsulting.SarifMark.Tests
          -pv ${{ inputs.version }}
          -ps DemaConsulting
          -nsb https://DemaConsulting.com/SarifMark.Tests
          -pm true
          -li true

      - name: Create Dotnet Tool
        run: >
          dotnet pack
          --no-build
          --no-restore
          --property:PackageVersion=${{ inputs.version }}

      - name: Upload Test Results
        uses: actions/upload-artifact@v6
        with:
          name: test-results-${{ matrix.os }}
          path: test-results/*.trx

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: artifacts-${{ matrix.os }}
          path: |
            src/DemaConsulting.SarifMark/bin/Release/*.nupkg
            src/DemaConsulting.SarifMark/bin/Release/*.snupkg
            src/DemaConsulting.SarifMark/bin/Release/**/manifest.spdx.json
            src/DemaConsulting.SarifMark/bin/Release/**/manifest.spdx.json.sha256
